@font-face {
  font-family: 'pixel';
  src:  url('../fonts/pixel.ttf') format('truetype')
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: "pixel";
    font-size: 18px;
}

:root {
    --primary-color: #535353;
    --secondary-color: #ffffff;
}

body {
    overflow: hidden;
    background-color: var(--primary-color);
    display: grid;
}

canvas {
    grid-row: 1/2;
    grid-column: 1/2;
    
    width: 100vw;
    height: 100vh;

    /* What is this about? */
    image-rendering: pixelated;
    image-rendering: crisp-edges;

    background-color: var(--primary-color);
}

.shake_animation {
    animation-name: shake;
    animation-duration: 0.5s;
}

@keyframes shake {
  0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

.player-info {
    height: 30vh;
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 1vw;
}

#health {
    width: 20vw
}

#health img {
    width: 3vw;
}

.progress-and-level-indicator .level-indicator{
    padding: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.progress-and-level-indicator .level-indicator p {
    font-size: 3vw;
    color: var(--secondary-color);
    text-align: center;
}

#distance {
    margin-top: 1vw;
    width: 20vw;
    text-align: right;
    color: var(--secondary-color);
}

#progress {
    margin-top: 1vw;
    width: 50vw;
    height: 1.25vw;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
}

#progress-head {
    image-rendering: pixelated;
    width: 2.5vw;
}

.death {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.death h1 {
    font-size: 2em;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.death button {
    padding: 10px;

    transition: all 0.3s;

    border: none;
    outline: none;

    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.death button:hover {
    transform: scale(1.1);
}