@font-face {
  font-family: 'pixel';
  src:  url('../fonts/pixel.ttf') format('truetype')
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ffffff;
    --secondary-color: #535353;
}

img {
    image-rendering: pixelated;
}

body {
    background-color: var(--primary-color)
}

header {
    display: flex;
    height: 15vh;
    justify-content: center;
    align-items: center;
}

header img {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1.5vw;
    width: 10vw;
    height: 8.25vw;
    image-rendering: auto;
}

header h1 { 
    font-size: 4vw;
    font-family: "pixel";
    text-align: center;
    color: var(--secondary-color);
}

main {
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cloud {
    position: absolute;
    width: 10vw;
}

.cloud-1 {
    top: 25vh;
    left: 75vw;
}

.cloud-2 {
    top: 70vh;
    left: 10vw;
}

main .highscores {
    font-family: "pixel";
    color: var(--primary-color);
    font-size: .75vw;
    width: 17.5vw;
    height: 32.5vh;
    padding: 1vw;
    background-color: var(--secondary-color);
    z-index: 5;
}

main .highscores h3 {
    font-size: 1.5vw;
    text-align: center;
}

main .highscores ol {
    padding: 1vw 3vw;
    font-size: 1vw;
}

main .highscores ol li {
    padding: 0.125vw;
}

main .skin-select {
    width: 40vw;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5vw;
}

main .skin-select img {
    width: 20vw;
}

main .skin-select .arrow {
    width: 10vw;
    height: 10vw;
    display: grid;
    justify-content: center;
    align-items: center;
}

main .skin-select .arrow-left:hover {
    transform: scale(1.125) rotate(180deg);
    cursor: pointer;
}

main .skin-select .arrow-right:hover {
    transform: scale(1.125);
    cursor: pointer;
}

main .skin-select .arrow * {
    grid-row: 1/2;
    grid-column: 1/2;
    width: 3.5vw;
    height: 1vw;
    background-color: var(--secondary-color);
}

main .skin-select .arrow .skybound {
    transform: rotate(45deg);
    margin-top: -1.8vw;
}

main .skin-select .arrow .groundbound {
    transform: rotate(-45deg);
    margin-bottom: -1.8vw;
}

main .skin-select .arrow-left {
    transform: rotate(180deg)
}

main .help {
    font-family: "pixel";
    font-size: .75vw;
    width: 17.5vw;
    height:  32.5vh;
    padding: 10px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    letter-spacing: 1px;
    word-spacing: 5px;
    text-align: left;

    overflow: auto;
    z-index: 5;
}

footer {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center
}

footer .ground {
    width: 100vw;
}

footer .on-ground {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

footer .on-ground img {
    width: 2.5vw;
}

footer .on-ground img.cactus {
    margin-bottom: -1vw;
}

footer .on-ground img.pt {
    margin-top: -2vw;
}

footer a {
    padding: 1vw 2.5vw;
    background-color: var(--secondary-color);
    justify-self: flex-start;
    font-family: "pixel";
    font-size: 2vw;
    color: var(--primary-color);
    text-decoration: none;
}
footer a:hover {
    transform: scale(1.0625);
}